/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-brown, 900);
$accent:  mat-palette($mat-green, 700, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

$my-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include angular-material-theme($my-theme);
